<ngx-datatable
  class="bootstrap"
  [rows]="filas"
  [columns]="columnas"
  [reorderable]="true"
  [columnMode]="columnMode"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="50"
  [scrollbarH]="false"
  [scrollbarV]="false">
  <ngx-datatable-column name="Título" prop="titulo">
  </ngx-datatable-column>
  <ngx-datatable-column name="Año" prop="annio">
  </ngx-datatable-column>
  <ngx-datatable-column name="Director" prop="director">
  </ngx-datatable-column>
  <ngx-datatable-column name="Escritor" prop="escritor">
  </ngx-datatable-column>
  <ngx-datatable-column name="Género" prop="genero">
  </ngx-datatable-column>
  <ngx-datatable-column name="Duración (min)" prop="duracion">
  </ngx-datatable-column>
</ngx-datatable>
